@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: aliceblue;
}
::-webkit-scrollbar-thumb {
  background-color: #d0b372;
  border-radius: 1rem;
}
