@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  
}
:root{
  --background-site-rgb-value: 249, 249, 249;
}

@layer base {
  @font-face {
    font-family: frutiger;
    src: url("../public/assets/fonts/Frutiger.ttf");
  }
  body {
    @apply font-frutiger;
  }
  .embla {
    position: relative;
    display: flex;
    width: 100%;
    height: 7rem;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
  .embla:before,
  .embla:after {
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    display: block;
    height: calc(50% - 32px / 2);
    z-index: 1;
    pointer-events: none;
  }
  .embla:before {
    top: -0.5px;
    background: linear-gradient(
      to top,
      rgba(var(--background-site-rgb-value), 0.65) 0%,
      rgba(var(--background-site-rgb-value), 1) 100%
    );
    @apply border-b border-primary
  }
  .embla:after {
    bottom: -0.5px;
    background: linear-gradient(
      to bottom,
      rgba(var(--background-site-rgb-value), 0.65) 0%,
      rgba(var(--background-site-rgb-value), 1) 100%
      );
      @apply border-t border-primary;
  }
  .embla-item {
    height: 100%;
    display: flex;
    align-items: center;
    min-width: calc(100% / 3);
    justify-content: center;
    line-height: 1;
    font-size: 1.8rem;
  }
  .embla-scene {
    min-width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    touch-action: pan-x;
  }
  .embla-viewport {
    height: 32px;
    width: 100%;
    perspective: 1000px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .embla-viewport--perspective-left {
    perspective-origin: calc(50% + 130px) 50%;
    transform: translateX(27px);
  }
  .embla-viewport--perspective-center {
    perspective-origin: 50%  50%;
    transform: translateX(-27px);
  }
  .embla-viewport--perspective-right {
    perspective-origin: calc(50% - 130px) 50%;
    transform: translateX(-27px);
  }
  .embla-container {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    will-change: transform;
  }
  .embla-slide {
    width: 100%;
    height: 100%;
    font-size: 19px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    opacity: 0;
    color:black;
  }
 .embla-slide-inactive{
  color: gray;

 }
  
}
.go-next {
  animation: go-next-animation 2s ease-in-out infinite;
}
@keyframes go-next-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}
::-webkit-scrollbar {
  width: 0;
}
